---
import Layout from '../layouts/Layout.astro';
import NavBar from '../sections/NavBar.astro'
import Home from '../sections/Home.astro'
import Nosotros from '../sections/Nosotros.astro'
import Servicios from '../sections/Servicios.astro'
import Productos from '../sections/Productos.astro'
import Footer from '../sections/Footer.astro'
---

<Layout title="DMGC Sistemas">
	<main class="">
		<NavBar />
		<Home />
		<Nosotros/>
		<Servicios/>
		<Productos />
		<Footer />
	</main>
</Layout>