---
import { Image } from "astro:assets"
import Hero from "../images/hero.avif"
import Boton from '../components/Boton.astro'
---

<!-- <section class="w-full h-screen">
    <div class="w-full h-full bg-black/60 z-0 absolute top-0"></div>
    <Image src={Hero} alt='Security guard looking at a screen' class='w-full h-full object-cover absolute -z-20'/>
    <div class="relative text-white flex py-[23rem] flex-col pl-[3rem] md:pl-[6rem] font-bold">
        <h1 class="text-5xl md:text-6xl py-2">Los expertos <br> para tu seguridad</h1>
        <h2 class="text-3xl md:text-4xl">Conoce nuestros servicios mas populares</h2>
        <div class="flex items-center pt-4">
            <Boton text="Servicios"/> 
        </div>
    </div>
</section> -->
<section class="w-full h-screen flex flex-col justify-center items-center md:items-start gap-4 text-white font-bold ">
    <Image src={Hero} alt='Security guard looking at a screen' class='w-full h-full object-cover absolute -z-20 top-0'/>
<div class="px-5 md:px-[10rem] pt-10">
    <h1 class="text-4xl lg:text-6xl">Los expertos <br> para tu seguridad</h1>
</div>
<div class="px-5 md:px-[10rem]">
    <h2 class="text-lg lg:text-2xl">Conoce mas de nuestros servicios</h2>
</div>
<div class="px-5 md:px-[10rem]">
    <Boton text="Servicios"/>
</div>
</section>