---
import { Image } from "astro:assets"
import Hero from "../images/hero.avif"
import Boton from '../components/Boton.astro'
---

<section class="w-full h-screen">
    <div class="w-full h-full bg-black/60 z-0 absolute top-0"></div>
    <Image src={Hero} alt='Security guard looking at a screen' class='w-full h-full object-cover absolute -z-20'/>
    <div class="relative text-white flex py-[23rem] flex-col pl-[3rem] md:pl-[6rem] font-bold">
        <h1 class="text-5xl md:text-6xl py-2">Los expertos <br> para tu seguridad</h1>
        <h2 class="text-3xl md:text-4xl">Conoce nuestros servicios mas populares</h2>
        <div class="flex items-center pl-4 pt-4">
            <Boton text="Servicios"/> 
        </div>
    </div>
</section>