---
import Producto from '../components/Producto.astro'
---

<section class="flex flex-col text-center bg-[#000912] text-white px-20 xl:px-[15rem] px-5 p-10">
    <h2 class="text-2xl font-bold pb-4">Productos</h2>
    <div class="flex flex-col xl:grid grid-cols-2 gap-2">
        <Producto />
        <Producto />
        <Producto />
        <Producto />
        <Producto />
        <Producto />
    </div>
</section>